.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* TOP NAV BAR */
.top-row {
    background-image: linear-gradient(90deg, rgb(5, 39, 103), #3a0647);
    border-bottom: 1px solid #d6d5d5;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    /* NavMenu links */
    .top-row ::deep a,
    .top-row ::deep .btn-link {
        color: white;
        margin-right: 1.5rem;
        text-decoration: none;
        white-space: nowrap;
    }

        .top-row ::deep a:hover,
        .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

/* Content spacing */
article {
    padding-top: 1.5rem;
}

/* Mobile */
@media (max-width: 640.98px) {
    .top-row {
        flex-wrap: wrap;
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
