@page "/tickets/create"
@using Microsoft.EntityFrameworkCore
@using EventRegistration.Domain
@inject IDbContextFactory<EventRegistration.Data.EventRegistrationContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Ticket</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Ticket" OnValidSubmit="AddTicket" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label> 
                <InputNumber id="price" @bind-Value="Ticket.Price" class="form-control" /> 
                <ValidationMessage For="() => Ticket.Price" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="type" class="form-label">Type:</label> 
                <InputText id="type" @bind-Value="Ticket.Type" class="form-control" /> 
                <ValidationMessage For="() => Ticket.Type" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="eventid" class="form-label">EventId:</label> 
                <InputNumber id="eventid" @bind-Value="Ticket.EventId" class="form-control" /> 
                <ValidationMessage For="() => Ticket.EventId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Ticket.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Ticket.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Ticket.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Ticket.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Ticket.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Ticket.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Ticket.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Ticket.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/tickets">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Ticket Ticket { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddTicket()
    {
        using var context = DbFactory.CreateDbContext();
        context.Ticket.Add(Ticket);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/tickets");
    }
}
